@model Database.Entity

<div class="col-md-4 news">
    <div class="news-card" onclick="openArticle()">
        <div class="news-card-inner">

            <h2 class="news-card-title">@Model.Values["name"]</h2>
            <div class="news-card-describe">
                @Model.Values["text"]
            </div>
            <div class="media-block">
                <div class="media-block-img">
                    <img class="news-card-img" src="imgs/original.jpg" alt="">
                </div>
            </div>

            <div class="news-card-footer">
                <div class="news-card-footer-left">
                    <div class="news-card-keyword">Сша</div>
                    <div class="news-card-time">@Model.Values["date"]</div>
                </div>
                <div class="news-card-footer-right">
                    1
                </div>
            </div>
        </div>
    </div>
</div>