@page
@model Sem.Pages.account_news

@{
    Layout = "Shared/_Layout";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-4 account-box">
            <div class="account">
                <div class="account-face">
                    <div class="account-face-img">
                        <img class="account-img" src="imgs/dog.png" alt="">
                        <div class="account-face-img-hiden">Изменить фото</div>
                    </div>
                    <div class="account-face-name">
                        Здравствуйте,
                        <div class="account-name">Shacall</div>
                    </div>
                </div>
                <a class="account-function" href="@Url.Page("./account-main")">
                    <img class="account-function-svg" src="icons/avatar.svg" alt="">
                    <div class="account-function-name">Просмотр учетной записи</div>
                </a>
                <a class="account-function" href="@Url.Page("./account-news")">
                    <img class="account-function-svg" src="icons/news.svg" alt="">
                    <div class="account-function-name">Избранные новости</div>
                </a>
                <a class="account-function" href="account-@Url.Page("./debates")">
                    <img class="account-function-svg" src="icons/debate.svg" alt="">
                    <div class="account-function-name">Мои дебаты</div>
                </a>
            </div>
        </div>
        <div class="col-md-8 account-box">
            <div class="account">
                <div class="account-main">
                    <img class="account-svg" src="icons/news.svg" alt="">
                    <h2 class="account-main-title">МОИ ИЗБРАННЫЕ НОВОСТИ</h2>
                    <div class="account-main-describe">Вы в любой момент можете обновить вашу учетную запись и внести любые изменения в приведеннфе ниже данные.</div>

                    <div class="row">

                        <div class="col-md-4 account-news-box">
                            <div class="account-news">
                                <div class="account-news-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, nesciunt.</div>
                                <div class="account-news-describe">Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Sed, voluptates. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, maiores?</div>
                                <div class="account-news-footer">
                                    <div class="account-news-footer-left">
                                        <div class="account-news-keyword">Сша</div>
                                        <div class="account-news-time">21:00</div>
                                    </div>
                                    <div class="account-news-footer-right">
                                        1
                                    </div>
                                </div>
                            </div>
                            <div class="account-news-delete" onclick="alert('Вы удалили сообщение')">
                                <img class="account-news-delete-img" src="icons/delete (1).svg" alt="">
                            </div>
                        </div>

                        <div class="col-md-4 account-news-box">
                            <div class="account-news">
                                <div class="account-news-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, nesciunt.</div>
                                <div class="account-news-describe">Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Sed, voluptates. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, maiores?</div>
                                <div class="account-news-footer">
                                    <div class="account-news-footer-left">
                                        <div class="account-news-keyword">Сша</div>
                                        <div class="account-news-time">21:00</div>
                                    </div>
                                    <div class="account-news-footer-right">
                                        1
                                    </div>
                                </div>
                            </div>
                            <div class="account-news-delete" onclick="alert('Вы удалили сообщение')">
                                <img class="account-news-delete-img" src="icons/delete (1).svg" alt="">
                            </div>
                        </div>

                        <div class="col-md-4 account-news-box">
                            <div class="account-news">
                                <div class="account-news-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, nesciunt.</div>
                                <div class="account-news-describe">Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Sed, voluptates. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, maiores?</div>
                                <div class="account-news-footer">
                                    <div class="account-news-footer-left">
                                        <div class="account-news-keyword">Сша</div>
                                        <div class="account-news-time">21:00</div>
                                    </div>
                                    <div class="account-news-footer-right">
                                        1
                                    </div>
                                </div>
                            </div>
                            <div class="account-news-delete" onclick="alert('Вы удалили сообщение')">
                                <img class="account-news-delete-img" src="icons/delete (1).svg" alt="">
                            </div>
                        </div>

                        <div class="col-md-4 account-news-box">
                            <div class="account-news">
                                <div class="account-news-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, nesciunt.</div>
                                <div class="account-news-describe">Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Sed, voluptates. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, maiores?</div>
                                <div class="account-news-footer">
                                    <div class="account-news-footer-left">
                                        <div class="account-news-keyword">Сша</div>
                                        <div class="account-news-time">21:00</div>
                                    </div>
                                    <div class="account-news-footer-right">
                                        1
                                    </div>
                                </div>
                            </div>
                            <div class="account-news-delete" onclick="alert('Вы удалили сообщение')">
                                <img class="account-news-delete-img" src="icons/delete (1).svg" alt="">
                            </div>
                        </div>

                        <div class="col-md-4 account-news-box">
                            <div class="account-news">
                                <div class="account-news-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, nesciunt.</div>
                                <div class="account-news-describe">Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Sed, voluptates. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, maiores?</div>
                                <div class="account-news-footer">
                                    <div class="account-news-footer-left">
                                        <div class="account-news-keyword">Сша</div>
                                        <div class="account-news-time">21:00</div>
                                    </div>
                                    <div class="account-news-footer-right">
                                        1
                                    </div>
                                </div>
                            </div>
                            <div class="account-news-delete" onclick="alert('Вы удалили сообщение')">
                                <img class="account-news-delete-img" src="icons/delete (1).svg" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>