@page
@model Sem.Pages.account_debates

@{
    Layout = "Shared/_Layout";
}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="accountChangeImg">
                    <input type="file" name="accountLoadImg" accept=".png, .jpg, .jpeg">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="changeAccountImage()" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-4 account-box">
            <div class="account">
                <div class="account-face">
                    <div class="account-face-img">
                        <img class="account-img" src="../imgs/dog.png" alt="">

                        <div class="account-face-img-hiden">
                            <button type="button" class="account-face-img-change" data-toggle="modal" data-target="#exampleModal">
                                Изменить фото
                            </button>
                        </div>
                    </div>
                    <div class="account-face-name">
                        Здравствуйте,
                        <div class="account-name">Shacall</div>
                    </div>
                </div>

                <a class="account-function" href="@Url.Page("./account-main")">
                    <img class="account-function-svg" src="icons/avatar.svg" alt="">
                    <div class="account-function-name">Просмотр учетной записи</div>
                </a>
                <a class="account-function" href="@Url.Page("./account-news")">
                    <img class="account-function-svg" src="icons/news.svg" alt="">
                    <div class="account-function-name">Избранные новости</div>
                </a>
                <a class="account-function" href="@Url.Page("./account-debates")">
                    <img class="account-function-svg" src="icons/debate.svg" alt="">
                    <div class="account-function-name">Мои дебаты</div>
                </a>
            </div>
        </div>
        <div class="col-md-8 account-box">
            <div class="account">
                <div class="account-main">
                    <img class="account-svg" src="icons/debate.svg" alt="">
                    <h2 class="account-main-title">МОИ ДЕБАТЫ</h2>
                    <div class="account-main-describe">Вы в любой момент можете обновить вашу учетную запись и внести любые изменения в приведеннфе ниже данные.</div>

                    <div class="row">
                        @await Component.InvokeAsync("DebatesAccount")
                        @await Component.InvokeAsync("DebatesAccount")
                        @await Component.InvokeAsync("DebatesAccount")
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>