@page
@model Sem.Pages.debate

@{
    Layout = "Shared/_Layout";
}

<div class="container-fluid">

    <div class="one-debate-box">
        <div class="one-debate">
            <h2 class="one-debate-title">Заголовок</h2>
            <div class="one-debate-describe">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero perferendis reprehenderit dolor libero quo itaque repellendus. Voluptas, facere in id tenetur, amet cupiditate voluptates tempora inventore sunt nesciunt consectetur beatae.</div>
            <div class="col-md-1 offset-md-11 one-debate-peoples">
                <img class="one-debate-peoples-svg" src="icons/people.svg" alt="">
                <div class="one-debate-peoples-count">0</div>
            </div>
            <hr>
            <div class="chat-box">
                <div class="chat">

                    <div class="chat-container-box">
                        <div id="chat-red" class="chat-container">

                            <div class="message-red">
                                <img class="messege-img" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="">
                                <div class="message-place">
                                    <div class="message-box">
                                        <div class="message">Hi</div>
                                    </div>
                                    <div class="message-box">
                                        <div class="message">How are you ...???</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="chat-container-box">
                        <div id="chat-green" class="chat-container">

                            <div class="message-green">
                                <img class="messege-img" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="">
                                <div class="message-place">
                                    <div class="message-box">
                                        <div class="message">Hi</div>
                                    </div>
                                    <div class="message-box">
                                        <div class="message">How are you ...???</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="publisher">
                    <form class="chat-form" action="" onsubmit="return false;">
                        <div class="dropup">
                            <button id="against-btn" class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Выберите строну
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item against-g" onclick="chatChangeAgainst(1)" href="#">ЗА</a>
                                <a class="dropdown-item against-r" onclick="chatChangeAgainst(0)" href="#">ПРОТИВ</a>
                            </div>
                        </div>
                        <input id="chatInput" type="text" placeholder="Type a message..." autocomplete="off">
                        <button onclick="chatSendMessage()" id="send-btn" class="btn btn-secondary" type="submit">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- <div class="chat-body">

    <div class="message-red">
        <img class="messege-img" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="">
        <div class="message-place">
            <div class="message-box"><div class="message">Hi</div></div>
            <div class="message-box"><div class="message">How are you ...???</div></div>
        </div>
    </div>

    <div class="message-green">
        <img class="messege-img" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="">
        <div class="message-place">
            <div class="message-box"><div class="message">Hi</div></div>
            <div class="message-box"><div class="message">How are you ...???</div></div>
        </div>
    </div>

</div>

<div class="chat-publisher">
    <form class="chat-form" action="" onsubmit="return false;">
        <div class="dropup">
            <button id="against-btn" class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Выберите строну
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item against-g" onclick="chatChangeAgainst(1)" href="#">ЗА</a>
                <a class="dropdown-item against-r" onclick="chatChangeAgainst(0)" href="#">ПРОТИВ</a>
            </div>
        </div>
        <input id="chatInput" type="text" placeholder="Type a meaage..." autocomplete="off">
        <button onclick="chatSendMessage()" id="send-btn" class="btn btn-secondary" type="submit">Отправить</button>
    </form>
</div> -->