@page
@model Sem.Pages.debates

@{
    Layout = "Shared/_Layout";
}

<div class="container-fluid">
    <div class="col-md-12 debate-top">
        <button>Создать дискуссию</button>
    </div>
    <div class="row">
        @await Component.InvokeAsync("DebatesIndex")
        @await Component.InvokeAsync("DebatesIndex")
        @await Component.InvokeAsync("DebatesIndex")
    </div>
</div>