@page
@model Sem.Pages.IndexModel

@{
    Layout = "Shared/_Layout";
}
<div class="container-fluid">
    <div class="row">
        @foreach (var article in await Model.Articles.ToListAsync())//TODO ToList - temporary solution, can be done better
        {
            @await Component.InvokeAsync("NewsIndex", article)
        }
        @* @await Component.InvokeAsync("NewsIndex") *@
        @* @await Component.InvokeAsync("NewsIndex") *@
        @* @await Component.InvokeAsync("NewsIndex") *@
        @* @await Component.InvokeAsync("NewsIndex") *@
        @* @await Component.InvokeAsync("NewsIndex") *@
        @* @await Component.InvokeAsync("NewsIndex") *@
    </div>
</div>