@model object
<div class="col-md-6 account-debate-box">
    <div class="account-debate">
        <div class="account-debate-title">Заголовок</div>
        <div class="account-debate-describe">Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Sed, voluptates. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, maiores?</div>
        <div class="account-debate-footer">
            <div class="account-debate-footer-left">
                <a class="account-debate-btn">Посмотреть</a>
            </div>
            <div class="account-debate-footer-right">
                <img class="account-debate-peoples-svg" src="icons/people.svg" alt="">
                <div class="account-debate-poeple-count">0</div>
            </div>
        </div>
    </div>
</div>