@model object
<div class="col-md-4 account-news-box">
    <div class="account-news">
        <div class="account-news-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, nesciunt.</div>
        <div class="account-news-describe">Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Sed, voluptates. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, maiores?</div>
        <div class="account-news-footer">
            <div class="account-news-footer-left">
                <div class="account-news-keyword">Сша</div>
                <div class="account-news-time">21:00</div>
            </div>
            <div class="account-news-footer-right">
                1
            </div>
        </div>
    </div>
    <div class="account-news-delete" onclick="alert('Вы удалили сообщение')">
        <img class="account-news-delete-img" src="icons/delete (1).svg" alt="">
    </div>
</div>